/*Allows us to control the outside and inside spacing of the page with the margin and padding.*/
*{
    margin: 0%;
    padding: 0%;
}
/*Allows to put a image on the background and make its height and width 100 and make its position center and size cover.*/
.Background3{
    background-image: url(https://i.ebayimg.com/00/s/MTA5MFgxNjAw/z/paQAAOSwcZVjiP0u/$_57.PNG?set_id=880000500F);
    height: 100;
    width: 100;
    background-position: center;
    background-size: cover;
    padding: 350px 0px;
}
/*Allows us to remove the bullet points with LST: none; add no outside or inside spacing with margin and padding allow us to see the background with overflow hidden and change the background color.*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
/*Float left makes the list items float to the left.*/
li{
    float: left;
}
/*Allows us to remove the underline with TD: none; change the color the inside spacing and hide a element with display: block;.*/
li a{
    text-decoration: none;
    color: white;
    padding: 16px 32px;
    display: block;
     }     
   /*Changes the words color.*/
.word2{
    color: cyan;
}
/*Allows us to change one of the listed items color.*/
.Highlight3{
    color: red;
}
/*Color changes the headings text color and background color changes the heading text highlight color.*/ 
.H1_Text3{
    color: cyan;
    background-color: black;
}
/*Color changes the headings text color and background color changes the heading text highlight color.*/ 
.H2_Text2{
    color: cyan;
    background-color: black;
}

